CLOUDINARY_CLOUD_NAME=sfsdfdsfsdfsfd
CLOUDINARY_API_KEY=3234234234234
CLOUDINARY_API_SECRET=sdfsdfsdfsdfdsf
MONGO_URI=mongodb://localhost:27017/bus-ticket
NODE_ENV=development
JWT_KEY=lksjflksjdfjsdlfj